@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: 'Gabarito', sans-serif;
    max-height: 120vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}

.busqueda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 17rem;
    gap: 1rem;
}

.busqueda h1 {
    font-size: 3rem;
    font-weight: 600;
}

.acercamiento {
    display: flex;
    height: 2rem;
}

.acercamiento input {
    border: none;
    color: black;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    font-family: 'Gabarito', sans-serif;
    font-size: 1.5rem;
    padding: 1rem;
    width: 76rem;
    height: 4rem;
}

.acercamiento select {
    border: none;
    font-family: 'Gabarito', sans-serif;
    width: 7rem;
    height: 4rem;
    font-size: 1rem;
}

.acercamiento button {
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    font-family: 'Gabarito', sans-serif;
    width: 7rem;
    height: 4rem;
    font-size: 1.5rem;
}

.resultados {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.recorte {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border: 0.2rem solid white;
}

.recorte img {
    height: 300px;
}

.recorte h2 {
    font-weight: 500;
}

@media (max-width: 900px) {
    .resultados {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .acercamiento input {
        width: 16rem;
    }

    .recorte h2 {
        font-size: 1rem;
    }

    .recorte img {
        height: 133px;
    }
}